{{assignJSON 'javascript' 'categories'}}
<div id="category_settings">
{{> admin/categories/_addform javascript=this.javascript}}
{{> admin/categories/_toolbar}}
{{> admin/categories/_itemgrid}}
</div>