{{assignJSON 'javascript' 'menuitems'}}
<div id="menuitems_settings">
    {{> admin/menuitems/_addform}}
    {{!--TODO fix search > admin/menuitems/_toolbar --}}
    {{> admin/menuitems/_itemgrid}}
</div>