{{assignJSON 'javascript' 'subcategories'}}
<div id="category_settings">
{{> admin/subcategories/_addform}}
{{!-- TODO fix toolbar > admin/subcategories/_toolbar --}}
{{> admin/subcategories/_itemgrid}}
</div>
