<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/admin/style.css">
    <link rel="stylesheet" href="/css/admin/main.css">

    <link rel="stylesheet" href="/css/admin/login.css">
</head>

<body>
    <main id="loginscreen">
        <div class="container-fluid">
            <section class="hero">
                <div class="container">
                    <div class="hero-text">
                        <div class="form-signin">
                            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                            <h3 class="h3 mb-3 font-weight-normal">Welecome,<br>please sign in:</h3>
                            <a href="/auth/google" class="btn text-center login">
                                <span class="loginBtn--google"><i class="fa fa-google left "></i>Login with Google</span>
                            </a>
                            <div class="checkbox my-3 py-3">
                                <label>Access must be granted by site administrator.</label>
                            </div>
                            <p class="mt-5 mb-3 text-muted">Copyright © 2018</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>