<!DOCTYPE html>
<html lang="en">
{{> admin/_header-block }}
<body>
<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        {{> admin/_navbar }}
        {{> admin/_sidebar}}
        <div class="container">
            {{> admin/_main-top }}
            {{{body}}}
            {{> admin/_main-bottom }}
        </div>
    </div>
</div>
{{> admin/_footer-block }}
</body>
</html>