<<<<<<< HEAD
=======

>>>>>>> 82b6a5bbef4636ad32087eff86f0e54f1d69a204
/* Root Stuff for media query stuff */
html {font-size: 1rem;}
body {font-size: 1em;}

/****************/
/*   Main CSS   */
/****************/

/* Main Hero CSS */
section.hero {
    height: 100vh;    
    background: url("http://via.placeholder.com/1920x1080");
    background-size: cover;
    resize: both;
}
.hero-island .title {
    font-size: 2.618em;
    color: #333;
    margin-bottom: 1rem;
    
}

.hero-island .subtitle {
    font-size: 1.618rem;
    color: #333;
    margin-bottom: 1rem;
}

.hero-center {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

/* End Main Hero CSS */

/* Main Section CSS */
section.section {    
    padding: 1.618em;        
}

section.menu {
    background-color: #333;
}

section.info {
    background-color: #666;
}

section.contact {
    background-color: #999;
}

.section .title {
    font-size: 2.618em;
    color: #fff;
    margin-bottom: 1rem;
}

.section .subtitle {    
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;    
}

/* End Main Section CSS */

/****************/
/* End Main Css */
/****************/

/***********************/
/*   General classes   */
/***********************/


/***********************/
/* End General classes */
/***********************/

body,
html {
    height: 100%;
}

/*
   * Off Canvas sidebar at medium breakpoint
   * --------------------------------------------------
   */

@media screen and (max-width: 992px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -33%;
    }
    .row-offcanvas-left.active {
        left: 33%;
        margin-left: -6px;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
    }
}

/*
   * Off Canvas wider at sm breakpoint
   * --------------------------------------------------
   */

@media screen and (max-width: 34em) {
    .row-offcanvas-left .sidebar-offcanvas {
        left: -45%;
    }
    .row-offcanvas-left.active {
        left: 45%;
        margin-left: -6px;
    }
    .sidebar-offcanvas {
        width: 45%;
    }
}

.card {
    overflow: hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

/* Other CSS stuff */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #1a1a1a;
}

.text-muted {
    color: #fff;
    opacity: 1;
}

.list-group-item>input.delete {
    /* float: left; */
    height: 25px;
    margin-left: 5px;
    display: inline-block;
    float: left;
    height: 16px;
    padding: 12px;
    border: 1px solid #000;
    margin-right: -1px;
}

.icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    /* background-color: #f00; */
}

.icon-ctr {
    display: inline-block;
    float: left;
    height: 16px;
    padding: 12px;
    border: 1px solid #000;
    margin-right: -1px;
}


/*********************/
/*   Media Queries   */
/*********************/

@media (min-width: 1200px) {    
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 576px) {

}

/*********************/
/* End Media Queries */
/*********************/
=======
/** form switch **/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}
.switch input {display:none;}
.slider {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffc107;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffc107;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider:before {
    border-radius: 50%;
}

