{{> main/_header-scripts }}
<title>Pho Now</title>

{{!-- Load favicon --}}
<link rel="icon" type="image/png" href="../../img/main/favicon.png">

{{!-- Load Google Fonts --}}
<link href="https://fonts.googleapis.com/css?family=Roboto|Economica|Raleway:700" rel="stylesheet">

{{!-- Delete me later --}}
<script type="text/javascript">
    console.log("LOADED: main/header-block");
</script>