<div class="category">
    <div class="title">Beef Pho</div>
    <div class="description"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt error voluptate ipsam praesentium accusantium saepe
        natus, id ullam. In sunt facere unde ipsa ex similique deleniti modi eos blanditiis perspiciatis.</div>
</div>
<ul class="items">
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
</ul>
<div class="category">
    <div class="title">Chicken Pho</div>
    <div class="description"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt error voluptate ipsam praesentium accusantium saepe
        natus, id ullam. In sunt facere unde ipsa ex similique deleniti modi eos blanditiis perspiciatis.</div>
</div>
<ul class="items">
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
    <li class="item row">
        <div class="col-10 item-name">Lorem ipsum</div>
        <div class="col-2 item-price text-right">$10.99</div>
        <div class="col-12 item-viet">Dolar sit amet</div>
    </li>
</ul>