<section class="mini-hero">
    <div class="container">
        {{> main/_navbar}}
    </div>
    <div class="about-hero mini-hero-img">
        <div>
</section>
<section id="about" class="section">
    <div class="title text-center">
        Pho Now Info
    </div>
    <div class="container">
        <div class="row content no-gutters">
            <div class="col-md-6 col-sm-12 vcenter-img">
                <image src="http://via.placeholder.com/600x600" class="img-fluid" alt="na"></image>
            </div>
            <div id="info" class="col-md-6 col-sm-12 text-center">
                <div id="contact">
                    <div class="small-title">
                        <span>CONTACT</span>
                    </div>
                    <div id="phone">
                        <i class="fas fa-phone-square fa-md"></i> Phone: (713) 699-4444</div>
                    <div id="email">
                        <i class="fas fa-envelope-square fa-md"></i> Email: PhoNowTexas@gmail.com</div>
                    <a href="/contact">
                        <button type="button" class="btn">Contact Us</button>
                    </a>
                </div>
                <div id="address">
                    <div class="small-title">
                        <span>ADDRESS</span>
                    </div>
                    <div class="address-line">536 East Tidwell RD Houston, TX 77022</div>
                </div>
                <div id="hours">
                    <div class="small-title">
                        <span>HOURS</span>
                    </div>
                    <div id="hour-mo">Monday : 11:00am - 10:00pm</div>
                    <div id="hour-tu">Tuesday : 11:00am - 10:00pm</div>
                    <div id="hour-we">Wednesday : 11:00am - 10:00pm</div>
                    <div id="hour-th">Thursday : 11:00am - 10:00pm</div>
                    <div id="hour-fr">Friday : 11:00am - 11:00pm</div>
                    <div id="hour-sa">Saturday : 11:00am - 11:00pm</div>
                    <div id="hour-su">Sunday : 11:00am - 10:00pm</div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    This is where the google map thing goes
</section>