<section class="mini-hero">
    <div class="container">
        {{> main/_navbar}}
    </div>
    <div class="contact-hero mini-hero-img">
        <div>
</section>
<section id="contact" class="section">
    <div class="title text-center">
        Contact
    </div>
    <div class="container">
        <div class="row content no-gutters">
            <div class="col-md-6 col-sm-12">fdsa</div>
            <div class="col-md-6 col-sm-12">asdf</div>
        </div>
    </div>
</section>