{{> main/_navbar}}
<section class="mini-hero">
    <div class="contact-hero mini-hero-img"></div>
</section>
<section id="contact" class="section">
    {{> _msg}}
    {{> _errors}}
    <div class="title text-center">CONTACT US</div>
    <div class="container">
        <div class="row content">
            <div class="col-md-6 col-sm-12">
                <div class="nameplate">
                    <div class="name text-center fat-font">A message from Uyen Tran</div>
                    <div class="role text-center">PHO NOW FOUNDER AND OWNER</div>
                </div>
                <div class="text-center">
                    <img src="../../img/main/uyen.png" id="owner-img" alt="Image of Owner" class="img-fluid">
                </div>
                <div class="message"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, doloremque? Reiciendis ea esse dolorum vitae
                    tempora veniam, illum iusto, labore soluta modi reprehenderit asperiores sequi doloribus unde voluptate
                    in enim. </div>
                <div class="thanks"> Thank You! </div>
                <div id="contact">
                    <div class="small-title fat-font">
                        <span>CONTACT INFORMATION</span>
                    </div>
                    <div id="phone">
                        <i class="fas fa-phone-square fa-md"></i> Phone: {{contact.phone}}</div>
                    <div id="email">
                        <i class="fas fa-envelope-square fa-md"></i> Email: {{contact.email}}</div>
                    <div id="address">
                        <i class="fas fa-map-marker-alt fa-md"></i> Address: {{address.fulladdress}}</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <form action="send" method="POST" id="contact">
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input name="inputName" type="text" class="form-control" id="inputName" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input  name="inputEmail" type="text" class="form-control" id="inputEmail" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Phone</label>
                        <input  name="inputPhone" type="text" class="form-control" id="inputPhone" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Message or Comment</label>
                        <textarea  name="inputMessage" class="form-control" id="inputMessage" rows="10"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>