<section class="mini-hero">
    <div class="container">
        {{> main/_navbar}}
    </div>
    <div class="contact-hero mini-hero-img">
        <div>
</section>
<section id="contact" class="section">
    <div class="title text-center">
        CONTACT
    </div>
    <div class="container">
        <div class="row content no-gutters">
            <div class="col-md-6 col-sm-12">
                <div class="nameplate">
                    <div class="name text-center">A message from Uyen Tran</div>
                    <div class="role text-center">PHO NOW founder and owner</div>                    
                </div>
                <div class="text-center">
                <img src="http://via.placeholder.com/150x150" id="owner-img" alt="Image of Owner" class="img-fluid">
                </div>
                <div class="message"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, doloremque? Reiciendis ea esse dolorum vitae tempora veniam, illum iusto, labore soluta modi reprehenderit asperiores sequi doloribus unde voluptate in enim. </div>
                <div class="message"> Thank You! </div>
            </div>
            <div class="col-md-6 col-sm-12">asdf</div>
        </div>
    </div>
</section>