<title>index</title>
<section class="hero rellax" data-rellax-speed="-7">
    <div class="hero-nav rellax" data-rellax-speed="-4">
        {{> main/_indexnavbar}}
    </div>
</section>
<div class="hero-island text-center hero-center">
    <div class="title rellax" data-rellax-speed="-5">
        <img class="container img-fluid" src="../../img/main/logo-trans.png">
    </div>
    <div class="subtitle main-sub rellax" data-rellax-speed="-4">
        LOCALLY SOURCED + CRAFTED WITH LOVE
    </div>
    <a href="#section-top">
        <button type="button" class="btn btn-black rellax hvr-fade fat-font" data-rellax-speed="-4">COME ON IN</button>
    </a>
</div>
<div>
    <section id="section-top" class="section menu text-center">
        <div class="strip"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="menu-banner col-10">
                    <img class="img-fluid" src="../../img/main/what-title.png">
                </div>
            </div>
            
            <div class="row justify-content-center no-gutters">
                <img class="section-img img-fluid" src="../../img/main/what-square.png">                
            </div>
            <div class="row justify-content-center text-justify">
                <div class="subtitle sub-menu sec-sub col-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed cursus tortor. Mauris ut suscipit mauris, vel tincidunt
                    mi. Vestibulum risus libero, euismod sit amet mauris id, vestibulum pretium mauris. Donec tempor pretium
                    tortor, ac mattis massa dapibus a. Nunc quis tortor ut tortor eleifend finibus. In tincidunt interdum
                    mauris sed fermentum. Aliquam in mattis metus, a aliquet justo. Vivamus dapibus sem lacus, vitae aliquet
                    metus venenatis ut. Phasellus at quam ut purus mollis lobortis ut at ante.
                </div>
            </div>
            <a href="/menu">
                <button type="button" class="btn">Check out our menu</button>
            </a>
        </div>
    </section>
    <section class="section info text-center">
        <div class="container">
            <div class="title">
                <span>WHERE ARE WE LOCATED?</span>
            </div>
            <img class="img-fluid section-img" src="../../img/main/where-square.png">
            <div class="row justify-content-center">
                <div class="subtitle sec-sub col-10 text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed cursus tortor. Mauris ut suscipit mauris, vel tincidunt
                    mi. Vestibulum risus libero, euismod sit amet mauris id, vestibulum pretium mauris. Donec tempor pretium
                    tortor, ac mattis massa dapibus a. Nunc quis tortor ut tortor eleifend finibus. In tincidunt interdum
                    mauris sed fermentum. Aliquam in mattis metus, a aliquet justo. Vivamus dapibus sem lacus, vitae aliquet
                    metus venenatis ut. Phasellus at quam ut purus mollis lobortis ut at ante.
                </div>
            </div>
            <a href="/about">
                <button type="button" class="btn">Store Info</button>
            </a>
        </div>
    </section>
    <section class="section contact text-center">
        <div class="container">
            <div class="title">
                WHO ARE WE?
            </div>
            <img class="img-fluid section-img" src="../../img/main/who-square.png">
            <div class="row justify-content-center">
                <div class="subtitle sec-sub col-10 text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed cursus tortor. Mauris ut suscipit mauris, vel tincidunt
                    mi. Vestibulum risus libero, euismod sit amet mauris id, vestibulum pretium mauris. Donec tempor pretium
                    tortor, ac mattis massa dapibus a. Nunc quis tortor ut tortor eleifend finibus. In tincidunt interdum
                    mauris sed fermentum. Aliquam in mattis metus, a aliquet justo. Vivamus dapibus sem lacus, vitae aliquet
                    metus venenatis ut. Phasellus at quam ut purus mollis lobortis ut at ante.
                </div>
            </div>
            <a href="/contact">
                <button type="button" class="btn">Get in contact</button>
            </a>
        </div>
    </section>
</div>