<title>index</title>
<section class="hero rellax" data-rellax-speed="-7">
    <div class="container">
        <div class="hero-nav rellax" data-rellax-speed="2">
            {{> main/_indexnavbar}}
        </div>
        <div class="hero-logo rellax" data-rellax-speed="2"></div>
        <div class="hero-island text-center hero-center">
            <div class="title rellax">
                <img class="container img-fluid" src="../../img/main/logo-trans.png">
            </div>
            <div class="subtitle rellax">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui,
                non pulvinar lorem felis nec erat
            </div>
            <a href="#section-top">
                <button type="button" class="btn btn-black rellax hvr-fade">Come on in</button>
            </a>
        </div>
    </div>
</section>
<div>
    <section id="section-top" class="section menu text-center">
        <div class="container">
            <img class="img-fluid rellax" data-rellax-speed="3" style="position:absolute; z-index:3; left:-20%" src="https://png.kisspng.com/sh/0b00381c2cbc404d392877bc7813da60/L4Dxd3E5UME4OWM3SJHzb4eyRbK6gfE0PmY3fKkDNUmxSISBVcM1QGE2TaM8N0m1Q4aAUcg3O2Y3UKQ3cH7q/5a3aa3652d7859.83853480151379235718635282.png">
            <div class="title">
                WHAT DO WE SERVE?
            </div>
            <img class="img-fluid section-img" src="../../img/main/what-square.png">
            <div class="row justify-content-center">
                <div class="subtitle col-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed cursus tortor. Mauris ut suscipit mauris, vel tincidunt
                    mi. Vestibulum risus libero, euismod sit amet mauris id, vestibulum pretium mauris. Donec tempor pretium
                    tortor, ac mattis massa dapibus a. Nunc quis tortor ut tortor eleifend finibus. In tincidunt interdum
                    mauris sed fermentum. Aliquam in mattis metus, a aliquet justo. Vivamus dapibus sem lacus, vitae aliquet
                    metus venenatis ut. Phasellus at quam ut purus mollis lobortis ut at ante.
                </div>
            </div>
            <a href="/menu">
                <button type="button" class="btn">Check out our menu</button>
            </a>
        </div>
    </section>
    <section class="section info text-center">
        <div class="container">
            <div class="title">
                WHERE ARE WE LOCATED?
            </div>
            <img class="img-fluid rellax" data-rellax-speed="7" style="position:absolute; z-index:3;" src="https://png.kisspng.com/sh/0b00381c2cbc404d392877bc7813da60/L4Dxd3E5UME4OWM3SJHzb4eyRbK6gfE0PmY3fKkDNUmxSISBVcM1QGE2TaM8N0m1Q4aAUcg3O2Y3UKQ3cH7q/5a3aa3652d7859.83853480151379235718635282.png">
            <img class="img-fluid section-img" src="../../img/main/where-square.png">
            <div class="row justify-content-center">
                <div class="subtitle col-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed cursus tortor. Mauris ut suscipit mauris, vel tincidunt
                    mi. Vestibulum risus libero, euismod sit amet mauris id, vestibulum pretium mauris. Donec tempor pretium
                    tortor, ac mattis massa dapibus a. Nunc quis tortor ut tortor eleifend finibus. In tincidunt interdum
                    mauris sed fermentum. Aliquam in mattis metus, a aliquet justo. Vivamus dapibus sem lacus, vitae aliquet
                    metus venenatis ut. Phasellus at quam ut purus mollis lobortis ut at ante.
                </div>
            </div>
            <a href="/about">
                <button type="button" class="btn">Store Info</button>
            </a>
        </div>
    </section>
    <section class="section contact text-center">
        <img class="img-fluid rellax" data-rellax-speed="8" style="position:absolute; z-index:3; left:-20%" src="https://png.kisspng.com/sh/0b00381c2cbc404d392877bc7813da60/L4Dxd3E5UME4OWM3SJHzb4eyRbK6gfE0PmY3fKkDNUmxSISBVcM1QGE2TaM8N0m1Q4aAUcg3O2Y3UKQ3cH7q/5a3aa3652d7859.83853480151379235718635282.png">
        <div class="container">
            <div class="title">
                WHO ARE WE?
            </div>
            <img class="img-fluid section-img" src="../../img/main/who-square.png">
            <div class="row justify-content-center">
                <div class="subtitle col-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed cursus tortor. Mauris ut suscipit mauris, vel tincidunt
                    mi. Vestibulum risus libero, euismod sit amet mauris id, vestibulum pretium mauris. Donec tempor pretium
                    tortor, ac mattis massa dapibus a. Nunc quis tortor ut tortor eleifend finibus. In tincidunt interdum
                    mauris sed fermentum. Aliquam in mattis metus, a aliquet justo. Vivamus dapibus sem lacus, vitae aliquet
                    metus venenatis ut. Phasellus at quam ut purus mollis lobortis ut at ante.
                </div>
            </div>
            <a href="/contact">
                <button type="button" class="btn">Get in contact</button>
            </a>
            <img class="img-fluid rellax" data-rellax-speed="4" style="position:absolute; z-index:3; top:0" src="https://png.kisspng.com/sh/0b00381c2cbc404d392877bc7813da60/L4Dxd3E5UME4OWM3SJHzb4eyRbK6gfE0PmY3fKkDNUmxSISBVcM1QGE2TaM8N0m1Q4aAUcg3O2Y3UKQ3cH7q/5a3aa3652d7859.83853480151379235718635282.png">
        </div>
    </section>
</div>