<title>index</title>
<section class="hero">
    <div class="container">
        <div class="hero-nav">
            {{> main/_indexnavbar}}
        </div>
        <div class="hero-logo"></div>
        <div class="hero-island text-center hero-center">
            <div class="title">
                Lorem Ipsum
            </div>
            <div class="subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui,
                non pulvinar lorem felis nec erat
            </div>
            <a href="#section-top">
                <button type="button" class="btn">Come on in</button>
            </a>
        </div>
    </div>
</section>
<section id="section-top" class="section menu text-center">
    <div class="container">
        <div class="title">
            What do we serve?
        </div>
        <div class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed cursus tortor. Mauris ut suscipit mauris, vel tincidunt
            mi. Vestibulum risus libero, euismod sit amet mauris id, vestibulum pretium mauris. Donec tempor pretium tortor,
            ac mattis massa dapibus a. Nunc quis tortor ut tortor eleifend finibus. In tincidunt interdum mauris sed fermentum.
            Aliquam in mattis metus, a aliquet justo. Vivamus dapibus sem lacus, vitae aliquet metus venenatis ut. Phasellus
            at quam ut purus mollis lobortis ut at ante.
        </div>
        <a href="/menu">
            <button type="button" class="btn">Check out our menu</button>
        </a>
    </div>
</section>
<section class="section info text-center">
    <div class="container">
        <div class="title">
            Where are we located?
        </div>
        <div class="subtitle">
            Pellentesque rhoncus purus ut dictum vehicula. Sed efficitur lorem neque, ut tincidunt purus iaculis sit amet. Etiam nisl
            augue, feugiat in dignissim quis, sodales a quam. Mauris vel quam ac tellus blandit sollicitudin et egestas erat.
            Etiam ullamcorper scelerisque ante sit amet bibendum. Duis a ipsum nibh. Etiam bibendum id nisi quis placerat.
            Maecenas magna ligula, laoreet ac tristique fringilla, faucibus ut enim.
        </div>
        <a href="/about">
            <button type="button" class="btn">Store Info</button>
        </a>
    </div>
</section>
<section class="section contact text-center">
    <div class="container">
        <div class="title">
            Who are we?
        </div>
        <div class="subtitle">
            Mauris tristique dictum eros, vel mattis erat sagittis sed. Quisque id aliquet lorem, eget malesuada dolor. Suspendisse congue
            lorem augue, sed mattis nisi maximus non. Phasellus sed mollis enim. Vivamus purus nisl, lacinia vel iaculis
            iaculis, pharetra ut nisi. In gravida turpis sed magna posuere gravida. Sed vitae velit leo. Quisque id nulla
            sed justo auctor viverra. Donec suscipit, ante tempor varius fringilla, turpis nisl auctor lorem, ut aliquam
            eros mauris at orci.
        </div>
        <a href="/contact">
            <button type="button" class="btn">Get in contact</button>
        </a>
    </div>
</section>