<section class="mini-hero">
    <div class="container">
        {{> main/_navbar}}
    </div>
    <div class="menu-hero mini-hero-img">
        <div>
</section>
<section id="menu" class="section">
    <div class="title text-center">Menu</div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav id="menu-nav">
                    <ul class="row no-gutters text-center" style="width:100%">
                        <li class="nav-category col-lg col-md-3" style="order:1" data-category="1">
                            <a>Appetizers</a>
                        </li>
                        <li class="nav-category col-lg col-md-3" style="order:2" data-category="2">
                            <a>Noodles</a>
                        </li>
                        <li class="nav-category col-lg col-md-3" style="order:3" data-category="3">
                            <a>Rice</a>
                        </li>
                        <li class="nav-category col-lg col-md-3" style="order:4" data-category="4">
                            <a>House Special</a>
                        </li>
                        <li class="nav-category col-lg col-md-3" style="order:5" data-category="5">
                            <a>Sandwiches</a>
                        </li>
                        <li class="nav-category col-lg col-md-3" style="order:6" data-category="6">
                            <a>Kid's Meal</a>
                        </li>
                        <li class="nav-category col-lg col-md-3" style="order:7" data-category="7">
                            <a>Drinks</a>
                        </li>
                        <li class="nav-category col-lg col-md-3" style="order:8" data-category="8">
                            <a>Lunch Special</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row content no-gutters">
            <div class="col-12">
                <div id="menu-content">
                    {{>main/_menuitems}}
                </div>
            </div>
        </div>
    </div>
</section>