<section class="mini-hero">
{{> main/_navbar}}
Maybe image will go here... maybe not...

</section>
<section id="menu" class="section">
    <div class="text-center">
        <div class="title text-center">
            Menu
        </div>
        <div class="content">
            Doing this part on 5/16
        </div>
    </div>
</section>