body{
    margin-bottom: 10px;
    margin-top:  1%;
}
h1, h2, h3, h4 {
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
h1 {
    font-weight: 300;
    font-size: 2.2rem;
}
h2 { font-size: 1.6rem; }
h3, h4 { font-weight: 300; }

/** form switch **/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}
.switch input {display:none;}
.slider {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffc107;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffc107;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider:before {
    border-radius: 50%;
}

/***grids***/
.grid table {
    border: 1px solid #dee2e6;
}
.grid .id {
    width: 5%;
}

#main .container{
    margin-bottom: 100px;
}
/***************************/
/*   Bootstrap Overrides   */
/***************************/

#main .container {

}

/***************************/
/* End Bootstrap Overrides */
/***************************/

