body,
html {
    height: 100%;
}

/*
   * Off Canvas sidebar at medium breakpoint
   * --------------------------------------------------
   */

@media screen and (max-width: 992px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -33%;
    }
    .row-offcanvas-left.active {
        left: 33%;
        margin-left: -6px;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
    }
}

/*
   * Off Canvas wider at sm breakpoint
   * --------------------------------------------------
   */

@media screen and (max-width: 34em) {
    .row-offcanvas-left .sidebar-offcanvas {
        left: -45%;
    }
    .row-offcanvas-left.active {
        left: 45%;
        margin-left: -6px;
    }
    .sidebar-offcanvas {
        width: 45%;
    }
}
/**
    Desktop only
 */
@media (min-width: 992px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
    }
    #main .container
    {
        max-width: calc(100% - 15%);
        position: relative;
        margin-left: 17%;
    }
}
.card {
    overflow: hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

/* Other CSS stuff */
.footer {
    color: #FFF;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #1a1a1a;

    -webkit-box-shadow: 0px -3px 23px -1px rgba(194,188,194,0.86);
    -moz-box-shadow: 0px -3px 23px -1px rgba(194,188,194,0.86);
    box-shadow: 0px -3px 23px -1px rgba(194,188,194,0.86);
}


.text-muted {
    color: #fff;
    opacity: 1;
}

.list-group-item>input.delete {
    /* float: left; */
    height: 25px;
    margin-left: 5px;
    display: inline-block;
    float: left;
    height: 16px;
    padding: 12px;
    border: 1px solid #000;
    margin-right: -1px;
}

.icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    /* background-color: #f00; */
}

.icon-ctr {
    display: inline-block;
    float: left;
    height: 16px;
    padding: 12px;
    border: 1px solid #000;
    margin-right: -1px;
}

/* style for category */

.grid .table-responsive .edit-mode{
    display: none;
    background-color: #F2F2F2;
}

form .action {
    padding: 10px;
    text-align: center;
}
form .action button {
    margin: 5px auto;
}

form .action button[type="reset"]:hover{
    background-color: #c1c1c1;
}

.spinner{
    position: fixed;
    display: none;
    left: calc(50% - 6em);
    bottom: calc(50% - 4em);
    color: #FDC313;
    padding: 2rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    z-index: 999;
    font-weight: bold;
}
.panel.loading {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    cursor: pointer;
}

