<div class="add-mode col pt-3">
    <fieldset class="card card-body">
        <h2>Add a category</h2>
        <form id="newmenutype">
            <div class="form-group form-row mb-0 pt-2">
                    <label for="add_name" class="col-3">Category Name</label>
                    <input type="text" class="form-control col" name="add_name" id="add_name" required/>
            </div>
            <div class="form-group form-row">
                    <label for="add_description" class="col-3">Description</label>
                    <textarea class="form-control" class="col" name="add_description" id="add_description"></textarea>
            </div>
            <div class="form-group form-row">
                <button type="submit" id="submit_newmenutype" class="btn btn-warning">Add Subcategory</button>
            </div>
        </form>
    </fieldset>
</div>
