 <div class="row my-4 mx-0 grid" id="category-items">
     <form id="editcategory-" action="/api/newcategory" method="post">
         <div class="col">
             <div class="table-responsive row">
                 <table class="table table-striped">
                     <thead class="thead-inverse">
                         <tr>
                             <th>#ID</th>
                             <th>Name</th>
                             <th>Description</th>
                             <th>Status</th>
                             <th>Created</th>
                             <th>Modified</th>
                             <th>Action</th>
                         </tr>
                     </thead>
                     <tbody>
                    {{#each settings.restaurant_hour.list}}
                         <tr class="edit-mode" id="edit-category-">
                             <td class="id">
                                 <p>1</p>
                             </td>
                             <td class="name">
                                 <input type="text" class="form-control" name="category_name-" id="category_name-" value="Noodles"/>
                             </td>
                             <td class="description">
                                <textarea class="form-control" name="category_description-" id="category_description-">
                                    Category Description
                                </textarea>
                             </td>
                             <td class="form-check input-group status">
                                 <input class="form-check-input" type="checkbox" value="" id="status-" name="status-">
                                 <label class="form-check-label">
                                     Enabled
                                 </label>
                             </td>
                             <td class="created">
                                 <p>01/01/2018</p>
                             </td>
                             <td class="modified">
                                 <p>01/01/2018</p>
                             </td>
                             <td class="action">
                                 <button type="submit" class="btn btn-warning">Save Changes</button>
                             </td>
                         </tr>
                         <tr id="category-">
                             <td class="id">2</td>
                             <td class="name">Rices</td>
                             <td class="description">You can add shrimp on any rice</td>
                             <td class="status">Enabled</td>
                             <td class="created">01/01/2018</td>
                             <td class="modified">01/01/2018</td>
                             <td class="action"><i class="fa fa-edit"></i> <i class="fa fa-trash"></i></td>
                         </tr>
                    {{/each}}
                     </tbody>
                 </table>
             </div>
         </div>
     </form>
  </div>