
<form id="search" action="/admin/api/search/category/name" method="post">
    <div class="row toolbar">
        <div class="col input-group ml-0">
            <p>Edit Existing:
                <span>
                    <i class="fa fa-edit">to edit</i> <i class="fa fa-trash">to delete</i>
                </span>
            </p>
              <input class="form-control" placeholder="Search for category name">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <button type="submit" class="btn btn-warning">Search</button>
        </div>
    </div>
</form>

