<div class="add-mode col">
    <fieldset class="card card-body">
    <h2>Add a Subcategory</h2>
        <form id="newcategory">
            <div class="form-group form-row">
                <div class="col input-group">
                    <label for="add_name">Name
                     <input type="text" class="form-control" name="add_name" id="add_name" required/></label>
                </div>
                <div class="col input-group">
                    <label for="add_menutype">Add to category
                        {{assignJSON 'typelist' args.menuTypes}}
                        <select class="form-control" id="add_menutype" name="add_menutype" required>
                            <option value="">Select..</option>
                            {{#each this.typelist}}
                                <option value="{{this.id}}">
                                    {{this.name}}
                                </option>
                            {{/each}}
                        </select>
                    </label>
                </div>
            </div>
            <div class="form-group form-row">
                    <div class="col input-group">
                        <label for="add_description">Description
                            <textarea class="form-control" name="add_description" id="add_description" ></textarea>
                        </label>
                    </div>
            </div>
            <div class="form-group form-row actions">
                <div class="col input-group">
                    <button type="submit" id="submit_newcategory" class="btn btn-warning">Add Subcategory</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>
