<div id="search" class="toolbar ml-2">
    <form id="subcategory-search" method="post" class="form-inline form-row">
            <div class="col input-group mt-4 mb-0">
                <p>Edit Existing:</p>
                <div class="ml-3 hint">
                    <i class="fa fa-edit">to edit</i> <i class="fa fa-trash">to delete</i>
                </div>
            </div>
            <div class="col-5 input-group">
                  <input class="form-control" placeholder="Search for subcategory name">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <button type="submit" class="btn btn-warning">Search</button>
            </div>
        </div>
    </form>
</div>
