<footer class="container-fluid footer fixed-bottom">
    <p class="text-center small">©2018 PhoSho</p>
</footer>
{{#> admin/_footer-scripts }}{{!-- canvas and bootstrap scripts --}}{{/ admin/_footer-scripts}}