{{!-- <!--/.container-->
<footer class="container-fluid">
    <p class="text-right small">©2016-2018 Company</p>
</footer> --}}
{{#> _footer-scripts }}{{!-- canvas and bootstrap scripts --}}{{/ _footer-scripts}}