<div class="sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
    <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
        <li class="nav-item hvr-fade"><a class="nav-link" href="/admin/dashboard"><i class="fas fa-columns"></i> Dashboard</a></li>
        <li class="nav-item hvr-fade"><a class="nav-link" href="/admin/settings"><i class="fas fa-cogs"></i> Restaurant Settings</a></li>
        <li class="nav-item hvr-fade"><a class="nav-link" href="/admin/categories"><i class="fas fa-folder"></i> Menu Categories</a></li>
        <li class="nav-item hvr-fade"><a class="nav-link" href="/admin/menuitems"><i class="fas fa-utensils"></i> Menu Items</a></li>
    </ul>
</div>